body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFF8E8; /* Cream background */
  color: #333; /* Dark grey text */
  margin:0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 700px;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
  color: #fdb6b6; 
  font-weight: 900;
}

.btn-intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width:50%;
  margin-top: 20%;

}

.btn-intro button{
  background-color: #fcc9c8;
  border: 4px solid #000000;
    color: #FFF;
  margin: 0.4vw;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.7em;
  font-weight: bold;
  display: block;
  flex-direction: column;
  align-items: center;
}

button:hover {
  background-color: #e56d89;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#game-intro {
  background-image: url("../images/guriasbakery2.png");
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 700px;
  
}

#game-container {
  background-image: url("../images/kitchenlevel.png");
  display: none;
  justify-content: space-between;
  width: 960px;
  height: 700px;
}

#game-container div{
  border: 2px solid #e56d89;
  border-radius: 5px;
  background:  #f4dbd6;
  height:fit-content;
  text-align: justify;
  margin: 1vw;
}

#game-screen {
  background-image: url("../images/kitchenlevel.png");
  display: none;


}

#game-over {
  display: none;
  background: linear-gradient(to bottom, #FFD1DC, #D8BFD8); 
}

#instuct-box{
  width: 50%;
  display: flex;
  justify-items: flex-end;
  align-items:flex-end;
}

.instructions {  
  display: block;
  height:fit-content;
  text-align: justify;
  border: 2px solid #e56d89;
  border-radius: 5px;
  background:  #f4dbd6;
  font-size: 1em;
  padding: 5px;

 
}

.instructions li{
 list-style:none ;
 padding-left: 0;
 margin-bottom: 0;
}
